@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-black: #111;
  --color-white: #fafafa;
  --color-section: #f5f5eb;
  --color-highlight: #d4af37;
  --color-dark-gray: #888;
  --color-light-gray: #d9d9d9;
  --color-warning: #ff4d4f;
}

body {
  margin: 0 auto;
  color: var(--color-black);
  background-color: var(--color-white);
  box-sizing: border-box;
}

.nav-link,
.get-started {
  padding: 10px 20px;
  border-radius: 20px;
}
.nav-link:hover {
  background: var(--color-black);
  color: var(--color-white);
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  opacity: 90%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.rotating-text {
  font-weight: 600;
  height: 2em;
  background: #f5f5ebc6;
  padding-top: 5px;
}

.rotating-text span {
  animation: fadeInOut 2.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
